body{
    
    font-family: 'Sarabun', sans-serif;
}

.btn{
    color: #000;
    background: #ffd700;
    
    font-size: 20px;
}

header{
    width: 100%;
    height: 120px;
    background:#f290bf;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    
}

header img{
    width: 10%;
}
header h1{
    font-family: 'Volkhov', serif;
    font-size: 60px;
    line-height: 50px;
    color: #731F5C;
}

header ul li a{
    color: #731F5C;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
}
header ul li a:hover{
    color: #08dbbd;
    border-bottom: 1px solid #08dbbd;
    transition: .6s;
}

header ul li{
    list-style: none;
    display: flex;
}

.nav-menu{
    display: flex;
}

/*SlideSHow*/
.contenedor{
    width: 90%;
    
    margin: 150px auto;
}

.slideshow{
    background-color: orange;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
/*Colecciones*/

.colecciones h2{
    font-size: 50px;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
}

/* .tarjetas{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
}
.tarjetas .cuerpo-tarjeta{
    background: #fff5ee;
    width: 100%;
    border-radius: 5px;
   
}
.tarjetas .cuerpo-tarjeta img{
    width: 245px;
    height: 365px;
    border-radius: 5px;
    margin: 30px;
}


.cuerpo-tarjeta h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.tarjetas .cuerpo-tarjeta p{
    font-size: 25px;
    padding: 10px 20px;
}
.tarjetas  .cuerpo-tarjeta .formularios{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.tarjetas select, .tarjetas input, .tarjetas button{
    width: 80%;
    height:35px;
    margin: 20px 10px;
    border-radius: 5px;

} */
.tarjetas{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
}
.tarjetas img{
    width: 245px;
    height: 365px;
    border-radius: 3px;
}

.tarjetas .cuerpo-tarjeta{
    
    width: 245px;
}

.tarjetas   a{
    color: #f290bf;
    text-decoration: none;
    font-size: 18px;
}

.tarjetas .cuerpo-tarjeta p{
    font-size: 18px;
    color: #000;
}

.tarjeta-ocho .cuerpo-tarjeta{
    background: url(../img/sudadera.png) no-repeat;
    transition: 2s ease-in-out;
    height: 365px;
}

.tarjeta-ocho .cuerpo-tarjeta:hover{
    background: url(../img/traje.png);
}

/*footer*/

footer{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background: #08dbbd;
    width: 100%;    
    color: #731F5C;
    font-size: 18px;
    font-family: 'Volkhov', sans-serif;
    padding: 20px;
    line-height: 2;
}

footer h3{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Sarabun', sans-serif;
}
footer a{
    color:#731F5C;
    text-decoration: none;
}

footer .informacion{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
footer .informacion a{
    padding: 10px;
}