body{
    
    font-family: 'Sarabun', sans-serif;
    
}

.btn{
    display: block;
    text-align: center;
    color:#fff;
    background: #731F5C;
    border-radius: 5px;
    width: 70px;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    outline: none;
    
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    margin: 0 auto;
    height: 120px;
    background: #24262b;
    position: fixed;
   top: 0;
   left: 0;
   display: flex;
    justify-content: space-around;
    z-index: 10;
}

header img{
    width: 10%;
}
header h1{
    font-family: 'Volkhov', serif;
    font-size: 60px;
    line-height: 50px;
    color: #fff;
}

header ul li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
}
header ul li a:hover{
    color: #000;
    background: #08dbbd;
    transition: .6s;
}

header ul li{
    list-style: none;
    display: flex;
}

.nav-menu{
    display: flex;
}

/*SlideSHow*/
.contenedor{
    width: 90%;
    
    margin: 150px auto;
}

.slideshow{
    width: 100%;
    margin: 0 auto;
}

ul, li{
    list-style: none;
    text-decoration: none;
}


.ofertas{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #08dbbd;
}

/* .ofertas  .texto-oferta a{
    background: #ff0202;
    color: #000;
    font-size: 20px;
} */
.ofertas .precio-oferta{
    color: #ff0202;
    font-size: 70px;
    font-family: 'Sarabun', sans-serif;
    font-weight: bolder;
}
.ofertas p{
    color: #ff0202;
    font-size: 25px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
}

.ofertas img{
    width:80%
}

.oferta-dos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background: #f290bf;
    color: #fff;
    width: 90%;
    margin: 0 auto;

}
.oferta-dos img{
    width: 80%;
    margin: 20px 0;
}

.oferta-dos .texto-ofertados{
    font-family: 'Sarabun', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #fff;
}
.oferta-dos .texto-ofertados p{
    font-size: 25px;
}
.oferta-dos .texto-ofertados a{
    color: #fff;
    text-decoration: none;
    background: #08dbbd;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
}



/*Colecciones*/

.colecciones h2{
    font-size: 50px;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
}

/* .tarjetas{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
}
.tarjetas .cuerpo-tarjeta{
    background: #fff5ee;
    width: 100%;
    border-radius: 5px;
   
}
.tarjetas .cuerpo-tarjeta img{
    width: 245px;
    height: 365px;
    border-radius: 5px;
    margin: 30px;
}


.cuerpo-tarjeta h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.tarjetas .cuerpo-tarjeta p{
    font-size: 25px;
    padding: 10px 20px;
}
.tarjetas  .cuerpo-tarjeta .formularios{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.tarjetas select, .tarjetas input, .tarjetas button{
    width: 80%;
    height:35px;
    margin: 20px 10px;
    border-radius: 5px;

} */
.tarjetas{
    display: grid;
    gap: 78px;
    grid-template-columns: repeat(4, 1fr);
    
}
.tarjetas img{
    width: 245px;
    height: 365px;
    justify-content: space-evenly;
    border-radius: 3px;
}

.tarjetas .cuerpo-tarjeta{
    
    width: 245px;
}

.tarjetas   a{
    color: #f290bf;
    text-decoration: none;
    font-size: 18px;
}

.tarjetas .cuerpo-tarjeta p{
    font-size: 18px;
    color: #000;
}

.tarjeta-ocho .cuerpo-tarjeta{
    background: url(../img/sudadera.png) no-repeat;
    transition: 2s ease-in-out;
    height: 365px;
}

.tarjeta-ocho .cuerpo-tarjeta:hover{
    background: url(../img/traje.png);
}

/*Categorias*/

.categorias{
    width: 80%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);    
    gap: 50px;
  
}
.categorias div{
    background: #f1f3f4;
    width: 120px;
    margin: 0 auto;
    height: 120px;
   
    border-radius: 100%;    
}
.categorias img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: auto;
    display: block;
    
}

.categorias div a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 auto;
}







/*footer*/
.container{
    width: 1170px;

    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap ;
}
footer{
    background: #24262b;
    /* background: #731F5C; */
    padding: 70px 0;
}

.footer-col{
    width: 22%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    font-family: 'Sarabun', sans-serif;
    text-transform: capitalize;
    margin-bottom:30px ;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background: #e91e63; */
    background: #08dbbd;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    font-family: 'Volkhov', sans-serif;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all .3s ease;
}



.footer-col ul li a:hover{
    color: #fff;
    padding-left:10px ;
}

.footer-col .social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}

.footer-col .social a:hover{
    color: #24262b;
    background-color: #fff;
}

/*Responsive*/

@media (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom:30px  ;
    }
}

@media (max-width:574px){
    .footer-col{
        width: 100%;
        
    }
}